<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h1>Account Recovery</h1>
        </div>
        <div class="panel-body">
    <form method="post" action="/reset/forgotPassword">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="Enter your email address" required>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <input type="submit" value="Send Password Reset Email" class="btn btn-success btn-lg btn-block"></input>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>
    <% if(sentEmail){ //display an alert to the user if we have sent them a reset email%>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close"
                        data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true" style="color: darkslategrey">&times;</span></button>
                <strong>Sent!</strong> Please check your inbox for your password reset email.
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <% } else if(!validEmail){ //display an alert to the user if the email they entered was invalid%>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close"
                        data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true" style="color: darkslategrey">&times;</span></button>
                <strong>Error!</strong> That email is not linked to an account.
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <% } %>
        </div>
    </div>
</div>
</body>
</html>