<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jsvalidate/validator.min.js"></script>
</head>
<body>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="container">
            <div class="jumbotron">
                <h1 class="text-center">Account Recovery</h1>
            </div>
        </div>
    </div>
</div>
<% if(invalidLink){ //if the link has expired or didn't work, don't let them change their password%>
<div class="row" style="margin-top:10px;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close"
                    data-dismiss="alert" aria-label="close">
                <span aria-hidden="true" style="color: darkslategrey">&times;</span></button>
            <strong>Invalid!</strong> Your link has expired.
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
<% } else{ //else let them change their password here%>
<div class="container">
    <form method="post" action="/reset/changeForgottenPassword/<%= email%>" data-toggle="validator"
    role="form">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">Enter a new password:</label>
                    <input type="password" class="form-control" id="newPassword"
                           name="newPassword"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                           placeholder="Enter new password"
                           title="Password must be at least 8 characters long, and contain an uppercase letter, lowercase letter and number" required>
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">Confirm new password:</label>
                    <input type="password" class="form-control" id="newPasswordCheck"
                           name="newPasswordCheck"
                           data-match="#newPassword"
                           placeholder="Confirm new password" required>
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <input type="submit" value="Change Password" class="btn btn-success btn-lg btn-block"></input>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>
</div>
<%}%>
</body>
</html>