<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="container">
            <div class="jumbotron">
                <h1 class="text-center">Account Recovery</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form method="post" action="/forgotPassword">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">Enter your email address:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <input type="submit" value="Send Password Reset Email" class="btn btn-success btn-lg btn-block"></input>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>
    <% if(sentEmail){ %>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close"
                        data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true" style="color: darkslategrey">&times;</span></button>
                <strong>Sent!</strong> Please check your inbox for your password reset email.
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <% } else if(!validEmail){ %>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close"
                        data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true" style="color: darkslategrey">&times;</span></button>
                <strong>Error!</strong> That email is not linked to an account.
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <% } %>
</div>
</body>
</html>