<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<br>
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="jumbotron">
                    <h1 class="text-center">Welcome to ImpactCast</h1>
                    <p class="text-center">Please login to get started</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <form method="post" action="/login">
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" name="pwd">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
                </div>
            </div>
        </form>
    </div>


</body>
</html>