<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>$(".glyphicon-pencil").click(function() {
            var pen = $(this);
            pen.css("visibility", "hidden");
            $(this).prev().attr("contenteditable", "true").focusout(function() {
                $(this).removeAttr("contenteditable").off("focusout");
                pen.css("visibility", "visible");
            });
        });
    </script>
</head>

<body>
<% include ../templates/header.ejs %>
<!--TODO change user profile information to display actual information.-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h1>User Profile
                <em>
                    <h1 class="active">
                        User Name
                        <button type="button" class="btn btn-default btn-sm" aria-label="Left align">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                                    </span>
                        </button>

                    </h1>
                </em>
            </h1>
        </div>
        <div class="panel-body">
            <div class="media">

                <div class="media-left media-top">
                    <img src="/image/avatar.jpg" class="img-circle" style="width:150px">
                </div>
                <div class="media-body">
                    <!--<div class="row">-->
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Username:</strong></p>
                            <p><%= name %></p>
                            <p><strong>Email:</strong></p>
                            <p><%= email %></p>
                            <p><img src="/image/slackLogo.svg" class="img-circle" style="width:19px">
                                <strong>Slack Handle:</strong></p>
                            <p><%= slack %></p>
                        </div>

                        <div class="col-md-6">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#changePassword">Change Password</a></li>
                                <li><a data-toggle ="tab" href="#delete">Delete Account</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="changePassword" class="tab-pane fade">
                                    <form action="/user/changePassword" method="post" data-toggle="validator" role="form">
                                        <div class="form-group">
                                            <label>Old Password:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">T</span>
                                                <input type="password" class="form-control" id="oldPassword"
                                                       name="oldPassword" required>
                                            </div>
                                            <label>New Password:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">T</span>
                                                <input type="password" class="form-control" id="newPassword"
                                                       name="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                            </div>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            <div class="help-block with-errors">Must have upper and lowercase chars and a number.
                                                Min 8 chars.</div>
                                            <label>Reenter New Password:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">T</span>
                                                <input type="password" class="form-control" id="newPasswordCheck"
                                                       name="newPasswordCheck" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                       required>
                                            </div>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            <div class="help-block with-errors"></div>
                                            <p></p>
                                            <input type="submit" value="Change Password" class="btn btn-success btn-m btn-black">
                                        </div>
                                    </form>
                                </div>
                                <div id="delete" class="tab-pane fade">
                                    <form data-toggle="validator" role="form">
                                        <div class="form-group">
                                            <label>Please enter your password:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">T</span>
                                                <input type="password" class="form-control">
                                            </div>
                                        </div>
                                        <input type="submit" value="Permanently Delete Account"
                                               class="btn btn-danger btn-m btn-black">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>