<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<% include ../templates/header.ejs %>
<!--TODO change user profile information to display actual information.-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-cente"><h1>User Profile</h1></div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left media-top">
                    <img src="/image/avatar.jpg" class="img-circle" style="width:150px">
                </div>
                <div class="media-body">

                    <p><strong>Username:</strong></p>
                    <p><%= name %></p>
                    <p><strong>Email:</strong></p>
                    <p><%= email %></p>
                    <p><strong>Slack Handle:</strong></p>
                    <p><%= slack %></p>
                </div>
                <a href="/user/editProfile" class="btn btn-success btn-lg btn-block" alt="avatar">
                    Change Password and Edit Details
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>