<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/client/public/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<% include ../templates/header.ejs %>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-cente"><h1><%= heading %></h1></div>
        <div class="panel-body">

            <form action="/searchTeams" method="post">
                <div class="form-group">
                    <label for="teamName">Team Name:</label>
                    <input type="text" class="form-control" id="teamName" name="teamName">
                </div>
                <div class="form-group">
                    <label for="resourceName">Resource Name:</label>
                    <input type="text" class="form-control" id="resourceName" name="resourceName">
                </div>
                <input type="submit" value="Search Teams" class="btn btn-success btn-lg btn-block"/>

            </form>

        </div>
    </div>
</div>
</body>
</html>