<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/client/public/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jsvalidate/validator.min.js"></script>
</head>
<body>
<% include ../templates/header.ejs %>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-cente"><h1><%= heading %></h1></div>
        <div class="panel-body">

            <form action="/newProject" method="post" data-toggle="validator" role="form">

                <div class="form-group has-feedback">
                    <label for="projectCode" class="control-label">Project Code:</label>
                    <div class="input-group">
                        <span class="input-group-addon">T</span>
                        <input type="text" class="form-control" id="projectCode" name="projectCode" required>
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>


                <div class="form-group has-feedback">
                    <label for="projectName" class="control-label">Name:</label>

                    <div class="input-group">
                        <span class="input-group-addon">T</span>
                        <input type="text" class="form-control" id="projectName" name="projectName" required>
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>


                <input type="submit" value="Create Project" class="btn btn-success btn-lg btn-block"/>

            </form>

        </div>
    </div>
</div>
</body>
</html>