<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<% include ../templates/header.ejs %>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h1><%= heading %></h1></div>
        <div class="panel-body">

            <form action="/team/<%= teamName %>/addTeamMember" method="post">
                <div class="form-group">
                    <label for="resourceName">Name:</label>
                    <input type="text" class="form-control" id="resourceName" name="resourceName">
                </div>
                <div class="form-group">
                    <label for="employeeId">Employee ID:</label>
                    <input type="text" class="form-control" id="employeeId" name="employeeId">
                </div>
                <div class="form-group">
                    <label for="location">Location:</label>
                    <input type="text" class="form-control" id="location" name="location">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="role">Job Title:</label>
                    <input type="text" class="form-control" id="role" name="role">
                </div>
                <input type="submit" value="Search Resources" class="btn btn-success btn-lg btn-block"/>

            </form>

        </div>
    </div>
</div>
</body>
</html>